@model WebApplication2.Models.Person

@{
    ViewBag.Title = "GetPersonDetails";
}
<head>

</head>
<body>
    <h2>GetPersonDetails</h2>
    <div>
        @Model.Name  lives in @Model.City .
    </div>
</body>

