@model WebApplication5.Models.Actions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
</head>
<body>
    <div> 
        @Model.lastAction
    </div>
</body>
</html>
