@model WebApplication4.Models.Calculation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAddition</title>
</head>
<body>
    <div> 
        Result :<br />
        @Model.Addition()
    </div>
</body>
</html>
